<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd" >

<suite name="Tests" verbose="1">
    <listeners>
        <listener class-name="com.extend.global.ArkTestListener"></listener>
    </listeners>
    <test name="ARK Renewal Engine add quotelines with POST api tests">
        <packages>
            <package name="com.extend.*"></package>
        </packages>
    </test>
</suite>
